@charset "UTF-8";

/*Обнуление*/

@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,600,700,800,900&display=swap);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*--------------------*/

.banner {
  position: relative;
}

.banner__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.banner__tilte {
  font-family: "Montserrat";
  font-weight: 900;
  line-height: 125%;
  z-index: 3;
  margin-bottom: 20px;
}

.banner__subtitle {
  font-family: "Montserrat";
  line-height: 140%;
  color: #000000;
  max-width: 432px;
  z-index: 3;
  font-size: 16px;
}

.banner__btn {
  padding: 23px 0 !important;
  z-index: 3;
}

.banner {
  overflow: hidden;
}

.banner__img-big {
  position: absolute;
  z-index: 2;
}

.banner__img-big img {
  width: 100%;
  height: 100%;
}

.banner__img-circle1 {
  position: absolute;
  z-index: 2;
}

.banner__img-circle1 img {
  width: 100%;
  height: 100%;
}

.banner__img-circle2 {
  position: absolute;
}

.banner__img-circle2 img {
  width: 100%;
  height: 100%;
}

.banner__img-vawe1 {
  position: absolute;
  z-index: 2;
}

.banner__img-vawe1 img {
  width: 100%;
  height: 100%;
}

.banner__img-vawe2 {
  position: absolute;
  z-index: 0;
}

.banner__img-vawe2 img {
  width: 100%;
  height: 100%;
}

.banner__img-vawe3 {
  position: absolute;
  z-index: 0;
  z-index: 2;
}

.banner__img-vawe3 img {
  width: 100%;
  height: 100%;
}

.banner__right-eliplse {
  position: absolute;
  background: #daecff;
  z-index: 1;
  border-radius: 50%;
}

.banner__img-bolt {
  position: absolute;
  z-index: 2;
}

.banner__img-bolt img {
  width: 100%;
  height: 100%;
}

.banner__img-circle3 {
  width: 59px;
  height: 59px;
  position: absolute;
  left: 161px;
  top: 210px;
  z-index: 2;
}

.banner__img-circle3 img {
  width: 100%;
  height: 100%;
}

.banner__right-eliplse2 {
  position: absolute;
  z-index: 0;
  border-radius: 50%;
}

.banner__img-bolt2 {
  position: absolute;
  z-index: 2;
}

.banner__img-bolt2 img {
  width: 100%;
  height: 100%;
}

.services {
  position: relative;
  background: #daecff;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__title {
  font-family: "Montserrat";
  font-weight: 800;
  line-height: 125%;
  text-align: center;
  color: #111111;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  border-radius: 15px;
  margin-bottom: 10px;
  z-index: 2;
}

.services__service-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__status {
  border-radius: 50%;
  background: #75e169;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.services__status.__active {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background: #6eb1fb;
}

.services__text {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 175%;
  color: #111111;
  margin-right: auto;
}

.services__down-vector.__active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.services__down-vector {
  margin: 8px 0 auto 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}

.services__service-addtext {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 175%;
  color: #000000;
  border-left: 1px solid #000000;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  max-height: 0;
  overflow: hidden;
  margin-left: 10px;
}

.services__service-addtext.__active {
  height: 100%;
  max-height: 450px;
  visibility: visible;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  overflow: hidden;
}

.services__shop-bag-img {
  position: absolute;
  right: 35px;
  bottom: 97px;
  z-index: 0;
  width: 133px;
  height: 148px;
}

.services__shop-bag-img img {
  width: 100%;
  height: 100%;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

body.__active {
  overflow: hidden;
}

.btn {
  background: #75e169;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 15px;
  line-height: 100%;
  color: #ffffff;
}

.header.__active {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: #67aefc85;
  top: 0;
  left: 0;
  z-index: 5;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.header {
  z-index: 5;
  position: fixed;
  width: 100%;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
  background: #67aefc;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__nav :not(:last-child) {
  margin-right: 37px;
}

.header__link {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #ffffff;
}

.header__btn {
  width: 170px;
}

.header__btn:hover {
  border: 2px solid #ffffff;
}

.header__btn.__active {
  color: #67aefc;
  background: #ffffff;
}

.header__btn.__active:hover {
  border: none;
}

.header__btn-mobile.__active {
  width: 34px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__btn-mobile {
  position: relative;
  width: 55px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__span.__active {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 34px;
  border-radius: 12px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__span.__active::before {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  left: 0px;
  width: 34px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 12px;
}

.header__span.__active::after {
  width: 0;
  height: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__span {
  width: 13px;
  height: 13px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__span::before {
  left: 18px;
  top: 0;
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__span::after {
  left: 36px;
  top: 0;
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  background: #ffffff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 50%;
}

.menu-mobile.__active {
  max-height: 328px;
  visibility: visible;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  overflow: hidden;
}

.menu-mobile {
  overflow: hidden;
  background: #67aefc;
  position: fixed;
  right: 0;
  z-index: 5;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  max-height: 0;
  visibility: hidden;
  top: 43px;
}

.menu-mobile__body {
  padding: 42px 0;
  text-align: center;
}

.menu-mobile__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-mobile__links :not(:last-child) {
  margin-bottom: 43px;
}

.menu-mobile__link {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 17px;
  line-height: 159%;
  text-transform: uppercase;
  color: #ffffff;
}

.menu-mobile__link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

@media (min-width: 320px) {
  .banner__body {
    padding-top: 386px;
    width: 100%;
    padding-bottom: 51px;
  }

  .banner__tilte {
    font-size: 27px;
    color: #000000;
    max-width: 300px;
  }

  .banner__subtitle {
    margin-bottom: 34px;
  }

  .banner__btn {
    width: 100%;
    border-radius: 10px;
  }

  .banner__img-big {
    width: 209px;
    position: absolute;
    -webkit-transform: rotate(1deg);
        -ms-transform: rotate(1deg);
            transform: rotate(1deg);
    right: 83px;
    top: 125px;
  }

  .banner__img-circle1 {
    width: 24px;
    height: 24px;
    top: 220px;
    right: 50px;
  }

  .banner__img-circle2 {
    width: 26px;
    height: 26px;
    top: 324px;
    right: 19px;
    z-index: 0;
  }

  .banner__img-vawe1 {
    width: 91px;
    height: 33px;
    right: 38px;
    top: 155px;
  }

  .banner__img-vawe2 {
    width: 78px;
    height: 28px;
    right: 243px;
    top: 199px;
  }

  .banner__img-vawe3 {
    width: 67px;
    height: 26px;
    right: 320px;
    top: 284px;
  }

  .banner__right-eliplse {
    width: 368px;
    height: 253px;
    top: 88px;
    right: -184px;
  }

  .banner__img-bolt {
    width: 66px;
    height: 35px;
    right: 59px;
    top: 279px;
  }

  .banner__img-circle3 {
    display: none;
  }

  .banner__right-eliplse2 {
    border: 2px solid #75e169;
    left: -51px;
    top: 72px;
    width: 102px;
    height: 66px;
  }

  .banner__img-bolt2 {
    width: 47px;
    height: 22px;
    right: 187px;
    top: 100px;
  }

  .services__body {
    padding: 30px 0;
  }

  .services__title {
    font-size: 23px;
    margin-bottom: 30px;
    max-width: 335px;
  }

  .services__service {
    padding: 18px 24px;
  }

  .services__status {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15px;
            flex: 0 0 15px;
    height: 15px;
    margin: 7px 18px auto 0;
  }

  .services__service-addtext {
    padding-left: 25px;
  }

  .services__service-addtext.__active {
    margin-top: 19px;
  }

  .services__shop-bag-img {
    display: none;
  }

  .header__body {
    padding: 5px 0;
  }

  .header__logo img {
    width: 136px;
  }

  .header__nav {
    display: none;
  }

  .header__btn-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu-mobile {
    width: 100%;
    display: block;
  }
}

@media (min-width: 425px) {
  .banner__body {
    padding-top: 89px;
    max-width: 323px;
  }

  .banner__btn {
    width: 270px;
    border-radius: 5px;
  }

  .services__title {
    max-width: unset;
  }

  .menu-mobile {
    max-width: 377px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .banner__body {
    padding-bottom: 90px;
    max-width: 554px;
  }

  .banner__tilte {
    font-size: 50px;
    color: #484848;
    max-width: unset;
  }

  .banner__subtitle {
    margin-bottom: 58px;
  }

  .services__body {
    padding: 120px 0;
  }

  .services__title {
    font-size: 32px;
    margin-bottom: 80px;
  }

  .services__service {
    padding: 18px 44px;
  }

  .services__status {
    margin: 0px 28px 0 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24px;
            flex: 0 0 24px;
    height: 24px;
  }

  .services__service-addtext {
    padding-left: 40px;
  }

  .services__service-addtext.__active {
    margin-top: 40px;
  }
}

@media (min-width: 1024px) {
  .banner__body {
    padding-top: 271px;
    padding-bottom: 180px;
  }

  .banner__img-big {
    -webkit-transform: rotate(350deg);
        -ms-transform: rotate(350deg);
            transform: rotate(350deg);
    width: 509px;
    right: 168px;
    top: 278px;
  }

  .banner__img-circle1 {
    width: 59px;
    height: 59px;
    right: 71px;
    top: 555px;
  }

  .banner__img-circle2 {
    width: 37px;
    height: 37px;
    right: 12px;
    top: 522px;
    z-index: 2;
  }

  .banner__img-vawe1 {
    width: 222px;
    height: 81px;
    right: 41px;
    top: 409px;
  }

  .banner__img-vawe2 {
    width: 222px;
    height: 81px;
    right: 388px;
    top: 543px;
  }

  .banner__img-vawe3 {
    width: 171px;
    height: 63px;
    -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
    left: 56px;
    top: 721px;
  }

  .banner__right-eliplse {
    width: 1200px;
    top: 246px;
    height: 548px;
    right: -750px;
  }

  .banner__img-bolt {
    width: 161px;
    height: 83px;
    top: 691px;
    right: 93px;
  }

  .banner__img-circle3 {
    display: block;
  }

  .banner__right-eliplse2 {
    width: 300px;
    height: 183px;
    left: -163px;
    border: 2px solid #67aefc;
    bottom: 28px;
    top: unset;
  }

  .banner__img-bolt2 {
    width: 114px;
    height: 57px;
    right: 365px;
    top: 200px;
  }

  .services__shop-bag-img {
    display: block;
  }

  .header__body {
    padding: 18px 0;
  }

  .header__logo img {
    width: 242px;
  }

  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__btn-mobile {
    display: none;
  }

  .menu-mobile {
    display: none;
  }
}
@supports (-webkit-appearance:none){

}

 @media (min-width: 320px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 425px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1024px){

@supports (-webkit-appearance:none){

}

}
